.currentProperties {
  height: 100%;
  border-radius: 25px;
  align-self: center;
  background: #1b396a;
  border-radius: 2px solid rgb(183, 188, 192) ;
  height: 100%;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  align-self: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
  padding: inherit;
}

.border-green{
  border: 0.8rem solid green;
}
.border-red{
  border: 0.8rem solid rgb(193, 6, 6);
}

.titulo {
  color: #ffffff;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  margin: 1rem 3rem 1rem 3rem;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .titulo {
    font-size: large;
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
}

.fondo-titulo{
  background: #363535;
}