.nav_container{
    background: #1b396a;
    height: 3.5rem;
}

.text-lab {
    text-decoration: none;
    color:#FFFFFF;
    font-size: large;
}

.nav_container {
  background: #1b396a;
  height: 3.5rem;
}

.input-button-container {
  display: flex;
  align-items: center;
}

.input-button-container .form-control {
  margin-right: 0.5rem;
}

.size-input{
  width: 13rem;
}
